<strong>Olá, {{ user }}</strong>
<p>Houve uma nova inscrição no seu meetup, confira os detalhes abaixo:</p>
<p>
  <strong>Meetup: </strong>{{ meetup }} <br />
  <strong>Nome do usuário: </strong>{{ subscriberName }} <br />
  <strong>E-mail do usuário: </strong> {{ subscriberEmail }} <br />
</p>
